/**
 * @name LightLavenderChaos
 * @author Japanese Schoolgirl (Lisa)
 * @version 0.0.4
 * @description This theme is made for me and a few of my friends, so it is unlikely that you will like it. I'm uploading it here for the ease of its updating. Almost entire theme is designed around lavender tones and oriented towards the Discord's light theme.
 * @authorLink https://github.com/Japanese-Schoolgirl
 * @invite nZMbKkw
 * @donate https://donate.qiwi.com/payin/Schoolgirl
 * @website https://github.com/Japanese-Schoolgirl/DiscordTheme-LightLavenderChaos
 * @source https://raw.githubusercontent.com/Japanese-Schoolgirl/DiscordTheme-LightLavenderChaos/main/LightLavenderChaos.theme.css
 * @updateUrl https://raw.githubusercontent.com/Japanese-Schoolgirl/DiscordTheme-LightLavenderChaos/main/LightLavenderChaos.theme.css
 */

@import url("https://japanese-schoolgirl.github.io/DiscordTheme-LightLavenderChaos/CoreCSS/theme_for_import.css");

/*/// Settings ///*/
/* Если включить: убирает фоновую картинку и меняет цвет скролла */
/*
.theme-light, .theme-dark {
	--pretty-background-img: none;
	--scrollbar-auto-thumb: gray;
	--scrollbar-auto-track: rgba(220, 220, 220, 0.5);;
}
*/

/* Если включить: скрывает заблокированных пользователей */
/*
div[class^="messageGroupBlocked"], div[class*=" messageGroupBlocked"] {
	display: none;
}
*/
