/**
 * @name LightLavenderChaos
 * @author Japanese Schoolgirl (Lisa)
 * @version 0.0.1
 * @description This theme is made for me and a few of my friends, so it is unlikely that you will like it. I'm uploading it here for easier it's updates. Almost all of the theme is designed around of lavender tones, oriented towards the Discord's light theme.
 * @authorLink https://github.com/Japanese-Schoolgirl
 * @invite nZMbKkw
 * @donate https://donate.qiwi.com/payin/Schoolgirl
 * @website https://github.com/Japanese-Schoolgirl/DiscordTheme-LightLavenderChaos
 * @source https://raw.githubusercontent.com/Japanese-Schoolgirl/DiscordTheme-LightLavenderChaos/main/LightLavenderChaos.theme.css
 * @updateUrl https://raw.githubusercontent.com/Japanese-Schoolgirl/DiscordTheme-LightLavenderChaos/main/LightLavenderChaos.theme.css
 */

.theme-light, .theme-dark {
	--pretty-background-img: url("https://i.imgur.com/QCatrz5.jpg");
	--pretty-gradient-blur: linear-gradient(
		to bottom,
		rgba(255, 50, 150, 0.1),
		rgba(255, 0, 255, 0.1)
	);
	--pretty-gradient-secondary: linear-gradient(
		to bottom,
		rgba(245, 60, 245, 0.4),
		rgba(245, 60, 245, 0.1),
		rgba(185, 60, 160, 0.2),
		rgba(165, 70, 195, 0.4)
	);

	--header-primary: rgba(186, 127, 171, .8); /* Цвет пинга, селектора и никнейма снизу */
	--header-secondary: rgba(132, 120, 125, .5); /* Цвет айдишника и ещё чего-то */
	--text-normal: rgb(116, 127, 141); /* Цвет текста */
	--text-muted: rgba(172, 150, 165, .6); /* Цвет замученного текста */
	--text-link: rgba(230, 10, 230, 1); /* Цвет ссылок */ /* Старый: rgba(255, 117, 206, 1); */
	--channels-default: rgba(145, 125, 132, 1); /* Цвет названий каналов */
	--interactive-normal: rgba(132, 120, 125, 0.8); /* Цвет некоторых иконок и текста в меню настроек */
	--interactive-hover: rgba(225, 165, 215, 0.9); /* Цвет названий каналов и иконок над которыми курсор */
	--interactive-active: rgba(255, 163, 218, 0.9); /* Цвет названия активного канала */
	--interactive-muted: rgba(167, 123, 141, 0.5); /* Цвет названий замученный каналов */
	--brand-experiment: rgba(200, 140, 190, 0.5); /* Цвет нажатой реакции под сообщением */
	--background-primary: #fff; /* Цвет чата */
	--background-secondary: var(--pretty-gradient-secondary); /* Панель друзей, каналов и людей справа */
	--background-secondary-members: rgba(243, 243, 243, 1); /* Кастомная переменная для панели людей справа */
	--background-secondary-alt: rgba(45, 20, 42, 1); /* Панель состояния звонка */
	--background-tertiary: rgba(55, 30, 52, 1); /* Модификатор цвета для панели групп и названия Дискорда */
	--background-accent: rgba(132, 120, 125, .5); /* Цвет некоторых иконок */
	--background-floating: rgba(255, 255, 255, 1); /* Цвет контекстового меню */
	--background-modifier-hover: rgba(225, 65, 245, 0.1); /* Цвет при наведении */
	--background-modifier-active: rgba(225, 65, 245, 0.2); /* Цвет по нажатию */
	--background-modifier-selected: rgba(225, 65, 245, 0.2); /* Цвет выделения после нажатия */
	--background-modifier-accent: rgba(6,6,7,0.08);
	--elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
	--elevation-high: 0 8px 16px rgba(0,0,0,0.16);
	--logo-primary: #7289da;
	--guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
	--channeltextarea-background: #ebedef; /* Панель набора сообщения */
	--activity-card-background: #fff;
	--deprecated-panel-background: rgba(45, 20, 42, 1); /* Панель звонка */
	--deprecated-card-bg: #f8f9f9;
	--deprecated-card-editable-bg: rgba(246,246,247,0.6);
	--deprecated-store-bg: #f8f9f9;
	--deprecated-quickswitcher-input-background: #fff;
	--deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
	--deprecated-text-input-bg: rgba(79,84,92,0.02);
	--deprecated-text-input-border: rgba(79,84,92,0.3);
	--deprecated-text-input-border-hover: #b9bbbe;
	--deprecated-text-input-border-disabled: #dcddde;
	--deprecated-text-input-prefix: #b9bbbe;
}

/* Если включить: меняет цвет скролла и его фона */
/*
.theme-light, .theme-dark {
	--scrollbar-auto-thumb: gray;
	--scrollbar-auto-track: rgba(220, 220, 220, 0.5);;
}
::-webkit-scrollbar {
	background-color: rgba(220, 220, 220, 0.5);
}
*/

/* Панель людей справа */
div[class*="members-"], div[class*="members-"]>div {
	background-color: var(--background-secondary-members);
}

/* Панель с эмодзи (в том числе всплывающая) */
div[class*="drawerSizingWrapper-"], div[class*="animatorLeft-"] {
	background-color: rgba(230, 210, 230, 1);
}

/* Панель слева с строчками в меню настроек */
div[class*="sidebarRegion-"], div[class*="sidebarRegionScroller-"] {
	background: rgba(236, 201, 232, 0.2);
}

/* Оформление надписи с "отвечает на..." */
div[class*="replyBar-"] {
	background: rgba(236, 201, 232, 1);
}

/* Задний фон текста оформленного как кода */
div[class*="markup-"] code {
	background: rgba(242, 243, 245, 1);
}

/* Панель групп и названия Дискорда */
div[class*="wrapper-"][class*="guilds-"], nav[class*="wrapper-"][class*="guilds-"], div[class*="guilds-wrapper"], div[class*="typeWindows-"], div[class*="scroller-"][class*="scroller-2T"], div[class*="guilds-"][class*="friendsOnline-"] {
	background-image: var(--pretty-gradient-blur), var(--pretty-background-img);
}

/* Правая панель с серверами */
nav[class*="wrapper-"][class*="guilds-"] div[class*="scroller-"] {
	background-color: transparent;
}

/* Оповещение о новых сообщениях на серверах и выделенном сервере */
div[class*="pill-"][class*="wrapper-"] span[class*="item-"] {
	background-color: var(--interactive-active);
}

/* Размер окна с превью демонстрации */
div[class*="pictureInPictureVideo-"] {
	height: 360px;
	width: 640px;
}

/* Фон превью ссылок */
div[class*="embedFull-"] {
	background: rgba(242, 243, 245, 0.9);
}

/* Задний фон реакций */
div[class*="reaction-"] {
	background: var(--background-modifier-selected); !important;
}

/* Задний фон отмеченных реакций */
div[class*="reaction-"][class*="reactionMe-"] {
	background-color: var(--brand-experiment) !important;
	border-color: rgba(200, 50, 150, 0.5) /* var(--brand-experiment) */ !important;
}

/* Фон заметок */
div[class*="note-"] textarea:focus {
	background-color: var(--channeltextarea-background);
}

/* Фон меню у ботов и в настройках */
div[id*="popout_"] {
	background-color: var(--background-secondary-members);
}

div[class*="stickyHeader-"] {
	display: none;
}

/* Отзеркаливает отображение веб камеры в окне звонка */
div[class*="media-engine-video video-"][class*="mirror-"] {
	transform: scaleX(1);
}

/* Если включить: скрывает заблокированных пользователей */
/*
	div[class^="messageGroupBlocked-"], div[class*=" messageGroupBlocked-"] {
	display: none;
}
*/


/* Original OLD Discord CSS
https://ptb.discordapp.com/assets/0.0b1a3876bb94f9901b89.css
*/